$header-margin-top: 1.5em;
$header-margin-bottom: 16px;

$table-border: 2px;
$table-bg-color: #eee;

$code-bg-color: #eee;
$code-color: #b83442;

$border-color: #ccc;

$gray-color: #666;

.PamEditor .preview {
    h1, h2, h3, h4, h5, h6 {
        margin-top: $header-margin-top;
        margin-bottom: $header-margin-bottom;
    }
    h1, h2, h3 {
        border-bottom: 1px solid $border-color;
    }
    p {
        line-height: 1.8;
        code {
            padding: .1em .6em;
            background-color: $code-bg-color;
            color: $code-color;
            font: 400 16px normal;
            font-family: Menlo,Consolas,'DejaVu Sans Mono',monospace;
            border: 1px solid $border-color;
            border-radius: 5px;
        }
    }
    table {
        border: 1px solid $border-color;
        border-spacing: 0;
        thead {
            background-color: $table-bg-color;
        }
        tr:nth-child(2n){
            background-color: $table-bg-color;
        }
        th, td{
            padding: .2em .5em;
            border: 1px solid $border-color;
        }
    }
    blockquote {
        color: $gray-color;
        border-left: 4px solid $border-color;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        padding-inline-end: 40px;
    }

    pre {
        font-size: 16px;
        code {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
            color: #abb2bf;
            background: #282c34;
        }
    }

}

.PamEditor .preview>:first-child{
    margin-top: 0;
}

