$flame-color: #ddd;
$status-color: #888;
$tool-hover-color: #eee;
$preview-color: #eeeeee;
$tool-color: #888;
$tool-sep-color: #ccc;

$border-size: 2px;
$border-radius: .3em;
$editor-height: 512px;

body {
    margin: 0;
}

.PamEditor{
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
}

.PamEditor-toolbar {
    border: $border-size solid $flame-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    text-align: left;
    padding: .2em 20px;
    border-bottom: 2px solid $flame-color;
    list-style: none;
    margin: 0;
    &:last-child{
        border-bottom: none;
    }
    button {
        color: $tool-color;
        padding: .1em .5em;
        border-radius: $border-radius;
        margin: .1em;
        border: none;
        background-color: transparent;
        font: 400 1.1em normal;
        outline: none;
        &:hover{
            background-color: $tool-hover-color;
        }
    }
    span{
        color: $tool-sep-color;
        content: "|";
    }
}

.PamEditor-tool {
    border: $border-size solid $flame-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    text-align: left;
    .toolbar{
        border-bottom: 1px solid $flame-color;
        list-style: none;
        padding: .2em 0;
        margin: 0;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        &:last-child{
            border-bottom: none;
        }
        button {
            padding: .1em .4em;
            border-radius: $border-radius;
            margin: .1em;
            border: none;
            background-color: transparent;
            font: 400 1em normal;
            outline: none;
            &:hover{
                background-color: $tool-hover-color;
            }
        }
        span{
            // border-right: 2px solid $flame-color;
            // margin-right: .3em;
            content: "|";
        }
    }
}

.PamEditor-editor {
    border: $border-size solid $flame-color;
    border-top-color: transparent;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    text-align: left;
    position: relative;
    .edit-block {
        display: none;
        // visibility: hidden;
        border-right: 2px solid $flame-color;
        // position: relative;
        box-sizing: border-box;
        width: 50%;
        padding: .5em 10px;
    }
    .editor{
        box-sizing: border-box;
        border: 2px solid $flame-color;
        border-radius: $border-radius;
        resize: none;
        width: 100%;
        height: $editor-height;
        font: 400 16px normal;
        padding: 10px;
    }
    .preview-block {
        display: none;
        padding: .5em 10px;
        position: absolute;
        left: 50%;
        top: 0;
        width: 50%;
        box-sizing: border-box;
    }
    .preview{
        height: $editor-height;
        box-sizing: border-box;
        overflow-y: scroll;
        word-break: break-all;
        padding: 10px;
    }
    .only {
        display: block;
        width: 100%;
        left: 0;
        position: relative;
    }
    .side {
        display: block;
        width: 50%;
    }
}

.PamEditor-status {
    text-align: right;
    color: $status-color;
    span{
        display: none;
        margin-right: 10px;
    }
    .mode::before{
        content: "mode: ";
    }
    .scroll::before{
        content: "scroll: ";
    }
}

.PamEditor-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .overlay {
        display: flex;
        box-sizing: border-box;
        width: inherit;
        height: inherit;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        
    }
    .container {
        position: relative;
        display: inline-flex;
        box-sizing: border-box;
        // min-width: 500px;
        min-height: 300px;
        background-color: #fff;
        vertical-align: middle;
        padding: 1.5em 1.8em;
        border-radius: 5px;
        overflow-y: scroll;
    }
    // .header {
    //     position: fixed;
    // }
    .contents {
        text-align: left;
    }
}