body {
  margin: 0;
}

.PamEditor {
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
}

.PamEditor-toolbar {
  border: 2px solid #ddd;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  text-align: left;
  padding: .2em 20px;
  border-bottom: 2px solid #ddd;
  list-style: none;
  margin: 0;
}

.PamEditor-toolbar:last-child {
  border-bottom: none;
}

.PamEditor-toolbar button {
  color: #888;
  padding: .1em .5em;
  border-radius: 0.3em;
  margin: .1em;
  border: none;
  background-color: transparent;
  font: 400 1.1em normal;
  outline: none;
}

.PamEditor-toolbar button:hover {
  background-color: #eee;
}

.PamEditor-toolbar span {
  color: #ccc;
  content: "|";
}

.PamEditor-tool {
  border: 2px solid #ddd;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  text-align: left;
}

.PamEditor-tool .toolbar {
  border-bottom: 1px solid #ddd;
  list-style: none;
  padding: .2em 0;
  margin: 0;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.PamEditor-tool .toolbar:last-child {
  border-bottom: none;
}

.PamEditor-tool .toolbar button {
  padding: .1em .4em;
  border-radius: 0.3em;
  margin: .1em;
  border: none;
  background-color: transparent;
  font: 400 1em normal;
  outline: none;
}

.PamEditor-tool .toolbar button:hover {
  background-color: #eee;
}

.PamEditor-tool .toolbar span {
  content: "|";
}

.PamEditor-editor {
  border: 2px solid #ddd;
  border-top-color: transparent;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  text-align: left;
  position: relative;
}

.PamEditor-editor .edit-block {
  display: none;
  border-right: 2px solid #ddd;
  box-sizing: border-box;
  width: 50%;
  padding: .5em 10px;
}

.PamEditor-editor .editor {
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 0.3em;
  resize: none;
  width: 100%;
  height: 512px;
  font: 400 16px normal;
  padding: 10px;
}

.PamEditor-editor .preview-block {
  display: none;
  padding: .5em 10px;
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  box-sizing: border-box;
}

.PamEditor-editor .preview {
  height: 512px;
  box-sizing: border-box;
  overflow-y: scroll;
  word-break: break-all;
  padding: 10px;
}

.PamEditor-editor .only {
  display: block;
  width: 100%;
  left: 0;
  position: relative;
}

.PamEditor-editor .side {
  display: block;
  width: 50%;
}

.PamEditor-status {
  text-align: right;
  color: #888;
}

.PamEditor-status span {
  display: none;
  margin-right: 10px;
}

.PamEditor-status .mode::before {
  content: "mode: ";
}

.PamEditor-status .scroll::before {
  content: "scroll: ";
}

.PamEditor-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.PamEditor-modal .overlay {
  display: flex;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.PamEditor-modal .container {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  min-height: 300px;
  background-color: #fff;
  vertical-align: middle;
  padding: 1.5em 1.8em;
  border-radius: 5px;
  overflow-y: scroll;
}

.PamEditor-modal .contents {
  text-align: left;
}
